h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}




body{
    font-family: "Montserrat", sans-serif ;
    font-weight: 900;
    text-align: center;
}

p{
    color: #8f8f8f;
    
}

/* Sections */
.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: white;
}

/* Title */
#title{
    height: 50%;
    overflow: hidden;
    padding-bottom: 100px;
}


.title-slogan{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

#features{
    position: relative;
    z-index: 1;
}

.feature-pic{
    color: #ef8172;
    font-size: 3.5em;
}

.feature-box{

    padding: 5%;
}

.feature-pic:hover{
    color: #ff4c68;
}

.feature-title{
    font-weight: 900;
    size: 1.5rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 7% 15%;
    
}
/* font-family: 'Montserrat', sans-serif;

font-family: 'Ubuntu', sans-serif; */



/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 20px 0px 20px;
}

.nav-link{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 100;
}

/* Download buttons */
.d-button{
    margin: 5% 3% 0% 0%;

}

/* title image */

.iphone6{
    transform: rotate(20deg);
    object-fit: cover;
    width: 60%;
    position: absolute;
    right: 30%;
}

/* Testimonials */

#testimonials{
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    padding: 0px 7%;
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    height: 10%;
    margin: 20px;
}


/* press */

#press{
    padding-bottom: 3%;

    background-color: #ef8172;

}

.press-images{
    margin: 20px 20px 50px;
    width: 15%;
}

/* Carousel items */

.card-deck{
    margin-right: 3%;
    margin-left: 3%;
}

/* pricing section */

#pricing{
    padding: 3% 5%;

}

.plans{
    padding: 3%;
}

.dog-plans{
    font-weight: 900;
    size: 1.5rem;
    line-height: 1.5;
}

.price-text, .pricing-text{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    padding: 0px 7%;
}

/* Call to action section */

#cta{
    background-color: #ff4c68;
}

.cta-dialog{
    font-family: 'Montserrat';
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 800;
}


.social-icon{
    margin: 20px 10px;
}

@media (max-width:1028px){


    .iphone6{
        padding-top:20px;
        transform: rotate(0deg);
        position: static;

    }

    .cta-dialog{
        font-size: 30px;

        margin: 0px 50px;
    }
}